# Iterative statement
1. while loop
2. for loop
3. range()

## 1. while loop

In [2]:
x = 1

while x <= 10:
    print(x, "gobinda")
    x+=1
print("=>loop end")

1 gobinda
2 gobinda
3 gobinda
4 gobinda
5 gobinda
6 gobinda
7 gobinda
8 gobinda
9 gobinda
10 gobinda
=>loop end

#

#### Q. print 30 natural numbers with while loop

In [3]:
x = 1

while x <= 30:
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

#### Q. Write a program to accept # a string from the user and display it vertically but donâ€™t display the vowels in it.

In [4]:
name = input("Enter your name: ")

length = len(name)

i = 0
while i < length:
    if name[i] not in 'aeiou':
        print(name[i])
    i+=1

Enter your name: gobinda
g
b
n
d

In [5]:
name = input("Enter your name: ")

a = 0
while(a<len(name)):
    if name[a]!='a' and name[a]!='e' and name[a]!='i' and name[a]!='0' and name[a]!='u':
        print(name[a])
    a+=1

Enter your name: akash
k
s
h

In [6]:
name = input("Enter your name: ")

i = 0
while(i<len(name)):
    if name[i] not in ["a", "e", "i", "o", "u", 'A', 'E', 'I', 'O', 'U']:
        print(name[i])    
    i=i+1

Enter your name: rahul
r
h
l

In [7]:
x = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']

q = []

name = input("Enter your name: ")

for i in name:
    if i not in x:
        print(i)

Enter your name: Aradhya
r
d
h
y

#
## break

In [1]:
#break
x = 1

while x <= 20:
    print(x)
    if x == 10:
        break
    x+=1

1
2
3
4
5
6
7
8
9
10

In [4]:
x = 1

while x <= 10:
    print(x)
    x+=1
else:
    print("end")

1
2
3
4
5
6
7
8
9
10
end

In [3]:
x = 1

while x <= 10:
    if x == 5:
        break
    print(x)
    x+=1
else:
    print("end")

1
2
3
4

#
## continue

In [3]:
#continue

num  = 0

while num < 10:
    num+=1
    if(num % 2) == 0:
        continue
    print(num)

1
3
5
7
9

In [7]:
num  = 0

while num < 10:
    num+=1
    if num == 3:
        continue
    print(num)

1
2
4
5
6
7
8
9
10

## pass

In [8]:
num  = 0

while num < 10:
    num+=1
    if num == 3:
        pass
    print(num)

1
2
3
4
5
6
7
8
9
10

In [5]:
# pass

i = 0

if i<10:
    pass

In [9]:
num  = 0

while num < 10:
    num+=1
    if(num % 2) != 0:
        pass
    else:
        print(num)

2
4
6
8
10

#
## 2. For loop

In [1]:
str = "gobinda"

In [2]:
for i in str:
    print(i)

g
o
b
i
n
d
a

In [2]:
x = [1, 2, 3, 'a']

for i in x:
    print(i)

1
2
3
a

In [4]:
fruits = ["apple", "orange", "mange", "papaya", "grapes"]
is_grapes = False


for i in fruits:
    if i == "grapes":
        is_grapes = True
        print("Grapes found in the fruits list")
        break

if is_grapes == False:
    print("No grapes found in the list")

Grapes found in the fruits list

#
### range()

range() function in python which return range object
this function is useful to generate sequence of number in form of list

In [7]:
range (start, stop, step)


# range(20) --> start=0 & stop=20
# range(1, 20) --> start=1 & stop=20
# range(1, 20, 2) --> start=1, stop=20 & step=2

In [14]:
a = range(10)

In [15]:
print(a)

range(0, 10)

In [16]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
x = range(1, 10)

In [20]:
for i in x:
    print(i)

1
2
3
4
5
6
7
8
9

In [21]:
y = range(1, 10, 2)

In [22]:
for i in y:
    print(i)

1
3
5
7
9

In [23]:
a = range(10, 1)

In [24]:
list(a)

[]

In [25]:
a = range(-10, 3)

In [26]:
list(a)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2]

In [27]:
a = range(7, 1, -1)

In [28]:
list(a)

[7, 6, 5, 4, 3, 2]

In [31]:
numbers = [1, 2, 3]
alpha = ['a', 'b', 'c']

for n in numbers:
    print(n)
    for ch in alpha:
        print(ch)

1
a
b
c
2
a
b
c
3
a
b
c

In [35]:
for i in range(3):
    for j in range(3):
        print("* ", end="")
    print()

* * *
* * *
* * *

In [38]:
for i in range(1, 5):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *

#

#### Q. write a program to accept an integer from user and display all number from 1 to that number. Repeat the process until the user enter 0.

In [44]:
while True:
    num = int(input("Enter the number"))
    if num == 0:
        break
    else:
        for i in range(1, num+1):
            print(i)

Enter the number5
1
2
3
4
5
Enter the number4
1
2
3
4
Enter the number3
1
2
3
Enter the number0

In [45]:
num = int(input("Enter the number"))

while num:
    for i in range(1, num+1):
        print(i)
    num = int(input("Enter the number"))

Enter the number5
1
2
3
4
5
Enter the number6
1
2
3
4
5
6
Enter the number3
1
2
3
Enter the number0