# List

i) we represent the list with squre [] bracket.
ii) List is mutable (after defining list we can change in list).
iii) List is slow (take more time & take more memory).

In [2]:
# empty list
mylist = []

In [3]:
mylist

[]

In [4]:
# list of integers
mylist = [1, 2, 3, 4, 5]

In [5]:
mylist

[1, 2, 3, 4, 5]

In [6]:
# list with different data types
mylist = [1, "hello", 2.5, 'i']

In [7]:
mylist

[1, 'hello', 2.5, 'i']

In [8]:
list("gobinda")

['g', 'o', 'b', 'i', 'n', 'd', 'a']

In [9]:
list((10, 20, 30))

[10, 20, 30]

In [10]:
list([10, 20, 30])

[10, 20, 30]

#

### concept of packing and unpacking

In [6]:
a = [1, 2, 3, 4, 5]

In [7]:
x,y,z,e,f = a

In [8]:
x

1

In [9]:
y

2

In [10]:
z

3

In [11]:
e

4

In [12]:
f

5

#
### Access the element of list

In [14]:
mylist = [1, 2, 3, 4, 55, 6, 7, 8, 9, 10]

In [15]:
mylist[4]

55

In [19]:
mylist[-1]

10

In [20]:
mylist[-3]

8

#
### Slicing

In [16]:
mylist = [1, 2, 3, 4, 55, 6, 7, 8, 9, 10]

In [18]:
mylist[2 : 5]

[3, 4, 55]

In [21]:
mynums = [10, 20, 30, 40, 50]

In [25]:
mynums[1 : ]

[20, 30, 40, 50]

In [22]:
mynums[1 : 4]

[20, 30, 40]

In [23]:
mynums[3 : 5]

[40, 50]

In [24]:
mynums[2 : 2]

[]

In [26]:
mynums[ :-2]

[10, 20, 30]

#
### Modify the existing element

In [27]:
sports = ["cricket", "hockey", "football"]

In [28]:
# use index for single value
sports[1] = "badminton"

In [29]:
sports

['cricket', 'badminton', 'football']

In [30]:
# slicing operator for multiple value
sports[1 : 3] = ["basketball", "tennis"]

In [31]:
sports

['cricket', 'basketball', 'tennis']

In [32]:
outdoorGames = ["cricket", "basketball", "tennis"]

In [36]:
indoorGames = ["caram", "ludo", "chess", "cricket"]

In [39]:
# concating the list
allGames = outdoorGames + indoorGames

In [40]:
allGames

['cricket', 'basketball', 'tennis', 'caram', 'ludo', 'chess', 'cricket']

In [50]:
team1 = ["gobinda", "akash", "poulami"]

In [51]:
team2 = team1 + list(["sumana"])

In [52]:
team2

['gobinda', 'akash', 'poulami', 'sumana']

In [53]:
team3 = team2 + ["sutrishna"]

In [54]:
team3

['gobinda', 'akash', 'poulami', 'sumana', 'sutrishna']

In [55]:
team3*3

['gobinda',
 'akash',
 'poulami',
 'sumana',
 'sutrishna',
 'gobinda',
 'akash',
 'poulami',
 'sumana',
 'sutrishna',
 'gobinda',
 'akash',
 'poulami',
 'sumana',
 'sutrishna']

#
### membership operator

in and not in

In [ ]:
team3 = ['gobinda', 'akash', 'poulami', 'sumana', 'sutrishna']

In [56]:
"poulami" in team3

True

In [57]:
"isita" not in team3

True

In [58]:
"sutrishna" not in team3

False

#
## List function

1. len()
2. max()
3. min()
4. sum()
5. sorted()
6. all()
7. any()
8. list()

#
## List methods

1. appned()
2. extend()
3. insert()
4. count()
5. index()
6. remove()
7. pop()
8. clear()
9. sort
10. reversed()

#
## List functions:
### 1. len()

In [63]:
mylist = [1, 2, 93, 4, 52, 67, 79, 8, 9, 10]

In [64]:
# len() function return length of given list
len(mylist)

10

### 2. max()

In [ ]:
mylist = [1, 2, 93, 4, 52, 67, 79, 8, 9, 10]

In [65]:
max(mylist)

93

### 3. min()

In [ ]:
mylist = [1, 2, 93, 4, 52, 67, 79, 8, 9, 10]

In [66]:
min(mylist)

1

### 4. sum()

In [ ]:
mylist = [1, 2, 93, 4, 52, 67, 79, 8, 9, 10]

In [67]:
sum(mylist)

325

### 5. sorted()

In [ ]:
mylist = [1, 2, 93, 4, 52, 67, 79, 8, 9, 10]

In [68]:
# Ascending
sorted(mylist)

[1, 2, 4, 8, 9, 10, 52, 67, 79, 93]

In [71]:
# Descending
sorted(mylist, reverse=True)

[93, 79, 67, 52, 10, 9, 8, 4, 2, 1]

######
if all the elements is true in the list it will give me true otherwise false

0, 0.0, False, 0+0j  ==>  this value will be false in python and rest of the value apart from this one will be true

### 6. all()

In [74]:
all(mylist)

True

In [76]:
newList = [10, 52, 67, 79, 93, 0]

In [77]:
all(newList)

False

### 7. any()

In [78]:
any(newList)

True

#
# List methods:
### 1. append()

In [85]:
primes = [2, 3, 5, 7, 11]

In [86]:
primes.append(13)

In [87]:
primes

[2, 3, 5, 7, 11, 13]

In [88]:
animal = ["cat", "dog", "rabbit"]

In [89]:
animal.append("elephant")

In [90]:
animal

['cat', 'dog', 'rabbit', 'elephant']

#
### 2. extend()

In [127]:
animal = ["cat", "dog", "rabbit"]

In [128]:
wild_animal = ["tiger", "lion"]

In [129]:
animal.append(wild_animal)

In [130]:
animal

['cat', 'dog', 'rabbit', ['tiger', 'lion']]

In [131]:
animal[3][0]

'tiger'

In [132]:
animal = ["cat", "dog", "rabbit"]

In [133]:
wild_animal = ["tiger", "lion"]

In [134]:
animal + wild_animal

['cat', 'dog', 'rabbit', 'tiger', 'lion']

In [135]:
animal.extend(wild_animal)

In [136]:
animal

['cat', 'dog', 'rabbit', 'tiger', 'lion']

In [137]:
animal.extend(["fox"])

In [138]:
animal

['cat', 'dog', 'rabbit', 'tiger', 'lion', 'fox']

#
### 3. insert(index, value)

In [160]:
primes = [2, 3, 5, 7, 11]

In [161]:
# modifying the list
primes[3] = 9

In [162]:
primes

[2, 3, 5, 9, 11]

In [163]:
# not overwrite only insert at the given index
primes.insert(3, 1000)

In [164]:
primes

[2, 3, 5, 1000, 9, 11]

#
### 4. count()

In [171]:
newList = [10, 52, 69, 27, 79, 93, 69, 44, 80, 69]

In [172]:
newList

[10, 52, 69, 27, 79, 93, 69, 44, 80, 69]

In [173]:
newList.count(69)

3

#
### 5. index()

get index of the given element

In [178]:
newList = [10, 52, 69, 27, 79, 93, 69, 44, 80, 69]

In [183]:
newList.index(79)

4

#
### 6. remove()

search for the given element and remove it (it removes the first matching element)

In [187]:
vowels = ['a', 'a', 'e', 'i', 'o', 'u']

In [188]:
vowels.remove("a")

In [189]:
vowels

['a', 'e', 'i', 'o', 'u']

#
### 7. pop()

pop() method removes and return the element at the given index

pop() method takes index and remove it from the list and return that element

In [190]:
fruits = ["apple", "banana", "orange"]

In [191]:
fruits.pop(1)

'banana'

In [192]:
fruits

['apple', 'orange']

#
### 8. clear()

In [193]:
fruits = ["apple", "banana", "orange"]

In [194]:
fruits.clear()

In [195]:
fruits

[]

#
### 9. sort()

it is going to sort in assending as well as decending order

In [196]:
numList = [10, 52, 69, 27, 79, 93, 619, 44, 1000, 80, 169, 909 , 100]

In [197]:
numList.sort()

In [198]:
numList

[10, 27, 44, 52, 69, 79, 80, 93, 100, 169, 619, 909, 1000]

In [199]:
numList.sort(reverse = True)

In [200]:
numList

[1000, 909, 619, 169, 100, 93, 80, 79, 69, 52, 44, 27, 10]

#
### 10. reverse()

it is going to reverse the elements

In [201]:
numList = [10, 52, 69, 27, 79, 93, 619, 44, 1000, 80, 169, 909 , 100]

In [202]:
numList.reverse()

In [203]:
numList

[100, 909, 169, 80, 1000, 44, 619, 93, 79, 27, 69, 52, 10]

#
#### Q. print all element with while as well as for loop

In [204]:
numList = [10, 52, 69, 27, 79, 93, 619, 44, 1000, 80, 169, 909 , 100]

In [205]:
for num in numList:
    print(num)

10
52
69
27
79
93
619
44
1000
80
169
909
100

In [210]:
i = 0

while i < len(numList):
    print(numList[i])
    i+=1

10
52
69
27
79
93
619
44
1000
80
169
909
100

#### Q. Write a program to accept five integers from the user , store them in a list . Display these integers and also display their sum

In [1]:
# Accept five integers from the user
num_list = []
for i in range(5):
    num = int(input("Enter an integer: "))
    num_list.append(num)

    
# Display the integers
print("Integers entered by the user:", num_list)


# Calculate and display their sum
sum_of_integers = sum(num_list)
print("Sum of the integers:", sum_of_integers)

Enter an integer: 5
Enter an integer: 7
Enter an integer: 9
Enter an integer: 2
Enter an integer: 5
Integers entered by the user: [5, 7, 9, 2, 5]
Sum of the integers: 28

##### Q. Write a program to accept 5 unique integers from the user. Make sure if the integer being entered is already present in the list your code displays the message “Item already present” and ask the user to reenter the integer.

In [2]:
unique_integers = []

while len(unique_integers) < 5:
    num = int(input("Enter an integer: "))
    if num in unique_integers:
        print("Item already present. Please enter a unique integer.")
    else:
        unique_integers.append(num)

        
print("Unique integers entered by the user:", unique_integers)

Enter an integer: 5
Enter an integer: 5
Item already present. Please enter a unique integer.
Enter an integer: 6
Enter an integer: 7
Enter an integer: 8
Enter an integer: 9
Unique integers entered by the user: [5, 6, 7, 8, 9]

##### Q. Write a program to accept 2 lists from the user of 5 nos each . Assume each list will have unique nos Now find out how many items in these lists are common.

In [3]:
# Accepting two lists from the user
list1 = []
list2 = []

print("Enter 5 unique numbers for list 1:")
for _ in range(5):
    num = int(input("Enter a number: "))
    list1.append(num)

print("Enter 5 unique numbers for list 2:")
for _ in range(5):
    num = int(input("Enter a number: "))
    list2.append(num)

# Converting lists to sets
set1 = set(list1)
set2 = set(list2)

# Finding common elements
common_elements = set1.intersection(set2)


# Displaying the number of common elements
print("Number of common items in the lists:", len(common_elements))

Enter 5 unique numbers for list 1:
Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter 5 unique numbers for list 2:
Enter a number: 5
Enter a number: 6
Enter a number: 7
Enter a number: 8
Enter a number: 9
Number of common items in the lists: 1

##### Q. Rewrite the previous code so that your code alos displays the items which are common in both the lists

In [4]:
# Accepting two lists from the user
list1 = []
list2 = []


print("Enter 5 unique numbers for list 1:")
for _ in range(5):
    num = int(input("Enter a number: "))
    list1.append(num)

    
print("Enter 5 unique numbers for list 2:")
for _ in range(5):
    num = int(input("Enter a number: "))
    list2.append(num)

    
# Converting lists to sets
set1 = set(list1)
set2 = set(list2)

# Finding common elements
common_elements = set1.intersection(set2)


# Displaying the number of common elements
print("Number of common items in the lists:", len(common_elements))


# Displaying the common items
if common_elements:
    print("Common items in the lists:", common_elements)
else:
    print("No common items in the lists.")

Enter 5 unique numbers for list 1:
Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter 5 unique numbers for list 2:
Enter a number: 5
Enter a number: 6
Enter a number: 7
Enter a number: 8
Enter a number: 9
Number of common items in the lists: 1
Common items in the lists: {5}

#
### List comprehension

iterable:
    i) list
   ii) tuple
  iii) dict
   iv) set
    v) String

list_comp = [x for x in iterable <test_condition>]

for reduce the code complexity.
for reduce the time & space complexity.

better use of this list comprehension with lambda function, map function, filter function and reduce function.

In [1]:
my_string = "Gobinda Das"

In [2]:
my_list = []

In [3]:
for i in my_string:
    my_list.append(i)

In [4]:
my_list

['G', 'o', 'b', 'i', 'n', 'd', 'a', ' ', 'D', 'a', 's']

In [5]:
[x for x in my_string]

['G', 'o', 'b', 'i', 'n', 'd', 'a', ' ', 'D', 'a', 's']

#
##### Q. Write a program squre of nos from 1 to 5, store them in a list and print the list.

In [13]:
myList1 = []

for x in range(1, 11):
    #print(x)
    myList1.append(x**2)

1
2
3
4
5
6
7
8
9
10

In [14]:
myList1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
[x**2 for x in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##### Q. Write a program to accept a string from user and convert each word of the given string into uppercase store it in a list and print that list

In [21]:
string = input("Enter the name: ")
mylist = []

for i in string:
    mylist.append(i.upper())

Enter the name: gobinda Das

In [22]:
mylist

['G', 'O', 'B', 'I', 'N', 'D', 'A', ' ', 'D', 'A', 'S']

In [23]:
string = input("Enter the name: ")

[x.upper() for x in string]

Enter the name: poulami Hudait

['P', 'O', 'U', 'L', 'A', 'M', 'I', ' ', 'H', 'U', 'D', 'A', 'I', 'T']

In [24]:
string = input("Enter the name: ")

[x.upper() for x in string.split()]

Enter the name: sumona mondal

['SUMONA', 'MONDAL']

##### Q. write a program to accept 5int from user and store then in a list, now display the sum of element and the element of list

In [31]:
numbers = input("Enter 5 integer: ")
mylist = []

for i in numbers.split():
    mylist.append(int(i))

print(mylist)
print(sum(mylist))

Enter 5 integer: 1 9 7 3 5
[1, 9, 7, 3, 5]
25

In [28]:
numbers = input("Enter 5 integer: ")

[int(x) for x in numbers.split()]

Enter 5 integer: 1 5 8 3 4

[1, 5, 8, 3, 4]

In [29]:
print(sum([int(x) for x in numbers.split()]))

21

In [5]:
mylist = []

for x in range(0, 5):
    num = int(input())
    mylist.append(num)

print(mylist)

1
2
3
4
5
[1, 2, 3, 4, 5]

##### Q. write a progrm to produce squre of only odd nos from 1 to 50, store them in a list and print the list.

In [33]:
mylist = []

for x in range(1, 50, 2):
    #print(x)
    mylist.append(x**2)

print(mylist)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401]

In [34]:
[x**2 for x in range(1, 50, 2)]

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401]

##### Q. create a function called removeVowles() which accept a string as argument and return a list with all the vowels removed from the string.

In [5]:
def removeVowels(input_string):
    vowels = "aeiouAEIOU"
    result = [char for char in input_string if char not in vowels]
    return result


input_string = input("Enter a string: ")

result_list = removeVowels(input_string)


print("String with vowels removed:", ''.join(result_list))

Enter a string: hii my name is gobinda das
String with vowels removed: h my nm s gbnd ds