# Tuple

i) we represent the tuple with 1st () bracket.
ii) Tuple is immutable (after defining list we can not change in tuple).
iii) Tuple is fast (take less time & take less memory).

In [2]:
mytuple = ()  #empty tuple

In [3]:
mytuple

()

In [4]:
mytuple = (1, 3, 95, 57, 4, 6)  # list of integers

In [5]:
mytuple

(1, 3, 95, 57, 4, 6)

In [8]:
mytuple = (1, "gobinda", 10.7, True, 2+3j)   # list with different data types

In [9]:
mytuple

(1, 'gobinda', 10.7, True, (2+3j))

In [10]:
type(mytuple)

tuple

In [21]:
mytuple = (10)

type(mytuple)

int

In [22]:
mytuple2 = (10,)

type(mytuple2)

tuple

###
### concept of packing and unpacking

In [23]:
a = 1, 2, 3, 4   #packing

In [24]:
a

(1, 2, 3, 4)

In [25]:
x,y,z,h = a     #unpacking

In [26]:
x

1

In [27]:
y

2

In [28]:
z

3

In [29]:
h

4

###
### Access the element of list

In [30]:
mytuple = (1, 3, 95, 57, 4, 6, 15, 88)

In [31]:
print(mytuple)

(1, 3, 95, 57, 4, 6, 15, 88)

In [32]:
mytuple[6]

15

In [35]:
mytuple[2]

95

In [36]:
mytuple[-2]

15

In [37]:
mytuple[-5]

57

###
### Slicing

In [39]:
mytuple[4 : 7]

(4, 6, 15)

In [40]:
mynums=(10, 20, 30, 40, 50)

print(mynums[1:4])

(20, 30, 40)

In [41]:
mynums=(10, 20, 30, 40, 50)

print(mynums[0:10])

(10, 20, 30, 40, 50)

In [42]:
Mynums=(10, 20, 30, 40, 50)

print(mynums[ :-2])

(10, 20, 30)

In [43]:
mynums=(10, 20, 30, 40, 50)

print(mynums[4:1:-1])

(50, 40, 30)

###
##### 'tuple' object does not support item assignment

In [44]:
mytuple =(1, 2, 43, 54, 657, 67, 4, 46, 567, 6)

In [45]:
mytuple[3]=100

TypeError: 'tuple' object does not support item assignment

In [46]:
mynums=([1, 2], 3, 4, 5, 66, 7)

In [47]:
mynums[0][1] = 100

In [48]:
mynums

([1, 100], 3, 4, 5, 66, 7)

In [49]:
mytuple=(100, 200, 300, 400, 500)

In [50]:
mytuple=(1, 2, 3, 4, 5)

In [51]:
mytuple

(1, 2, 3, 4, 5)

###
##### 'tuple' object doesn't support item deletion

In [52]:
del(mytuple[3])

TypeError: 'tuple' object doesn't support item deletion

In [53]:
del(mytuple)

In [54]:
mytuple

NameError: name 'mytuple' is not defined

#
## function in tuple:

1. len( )
2. max( )
3. min )
4. sum( )
5. sorted( )
6. any( )
7. all( )
8. tuple( )


### 1. len( )

In [56]:
mytuple =(1, 2, 43, 54, 657, 67, 4, 46, 567, 6)

In [57]:
len(mytuple)

10

### 2. max( )

In [ ]:
mytuple =(1, 2, 43, 54, 657, 67, 4, 46, 567, 6)

In [58]:
max(mytuple)

657

### 3. min( )

In [ ]:
mytuple =(1, 2, 43, 54, 657, 67, 4, 46, 567, 6)

In [59]:
min(mytuple)

1

### 4. sum( )

In [ ]:
mytuple =(1, 2, 43, 54, 657, 67, 4, 46, 567, 6)

In [60]:
sum(mytuple)

1447

### 5. sorted( )

In [ ]:
mytuple =(1, 2, 43, 54, 657, 67, 4, 46, 567, 6)

In [61]:
sorted(mytuple)

[1, 2, 4, 6, 43, 46, 54, 67, 567, 657]

In [62]:
sorted(mytuple, reverse=True)

[657, 567, 67, 54, 46, 43, 6, 4, 2, 1]

### 6. any( )

In [ ]:
mytuple =(1, 2, 43, 54, 657, 67, 4, 46, 567, 6)

In [63]:
#any one element should be true
any(mytuple)

True

### 7. all( )

In [ ]:
mytuple =(1, 2, 43, 54, 657, 67, 4, 46, 567, 6)

In [64]:
#all element should be true
all(mytuple)

True

### 8. tuple( )

In [65]:
tuple("gobinda")

('g', 'o', 'b', 'i', 'n', 'd', 'a')

In [66]:
tuple([1,2,3,45,6,7,4,4])

(1, 2, 3, 45, 6, 7, 4, 4)

#

iterable: iterable is a object on tope that we can iterate 
1. list
2. tuple
3. string
4. set
5. range

methods for tuple:
1. append() # it won't work
2. extend() # it won't work
3. insert() # it won't work
4. count() # work
5. index() # work
6. clear() # it won't work
7. pop() # it won't work
8. remove() # it won't work
8. sort() # it won't work
9. reverse() # it won't work

#
### 4. count()

In [67]:
mytuple =(1, 2, 43, 54, 6, 657, 67, 4, 46, 567, 6)

In [68]:
mytuple.count(6)

2

### 5. index()

In [ ]:
mytuple =(1, 2, 43, 54, 6, 657, 67, 4, 46, 567, 6)

In [69]:
mytuple.index(67)

6

#

### membership operator

in and not in

In [70]:
my_tuple=("a", "e", "i", "o", "u")

In [71]:
'a' in my_tuple

True

In [72]:
'z' not in my_tuple

True

#

### concatenation

In [73]:
odd = (1, 3, 5)
even = (2, 4, 6)

In [78]:
all = odd + even

In [79]:
all

(1, 3, 5, 2, 4, 6)

In [75]:
id(odd)

2735785297088

In [76]:
id(even)

2735785129280

In [77]:
id(odd+even)

2735785094752

In [80]:
id(all)

2735785094752

#

### multiplication of element

In [82]:
a = (10, 20, 30)

In [83]:
a*3

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [84]:
id(a)

2735785298368

In [85]:
id(a*3)

2735785710528

#

### relational operators

In [87]:
a = (4, 5, 6)
b = (4, 5, 6)

In [88]:
a<b

False