# Set

i) we represent the tuple with 2nd bracket {} or curli basic.
ii) we can not keep duplicate value.
iii) we can not access element with index in set
iii) we can not use subscript operator(we can not do indexing as well as slicing).
iv) set is unordered collection.

In [1]:
myset = {}  #empty set

In [2]:
myset

{}

In [3]:
myset = {1, 2, 3, 4, 5}

In [4]:
type(myset)

set

In [22]:
myset={1, "hello", 10.5}

In [23]:
myset

{1, 10.5, 'hello'}

In [5]:
myset={1, 2, 3, 4, 56, 4, 3, 67, 56}

In [6]:
myset

{1, 2, 3, 4, 56, 67}

###
### 'set' object is not subscriptable

In [7]:
myset[0]

TypeError: 'set' object is not subscriptable

In [8]:
myset[1:4]

TypeError: 'set' object is not subscriptable

i can pass any iterable to this set funciton: set(<iterable>)

In [11]:
set([1, 2, 3, 4, 5, 6])

{1, 2, 3, 4, 5, 6}

In [12]:
set((1, 2, 3, 4, 5, 3, 4, 57, 3))

{1, 2, 3, 4, 5, 57}

#

### add()

if i can add something in set there is a function add()

In [13]:
myset = {1, 2, 3, 4, 5, 6}

In [14]:
myset.add(10000)

In [15]:
myset

{1, 2, 3, 4, 5, 6, 10000}

#

### clear()

In [16]:
myset = {1, 2, 3, 4, 5, 6}

In [17]:
myset.clear()

In [18]:
myset

set()

#

### copy()

In [20]:
myset = {1, 234, 46, 67, 6, 465, 68, 8}

In [21]:
myset.copy()

{1, 6, 8, 46, 67, 68, 234, 465}

#

### pop()

In [1]:
my_set = {1, 2, 3, 4, 5}

In [2]:
popped_element = my_set.pop()

In [3]:
print("Popped Element:", popped_element)

Popped Element: 1

In [4]:
print("Updated Set:", my_set)

Updated Set: {2, 3, 4, 5}

#

### remove()

In [8]:
my_set = {0, 1, 2, 3, 4, 5}

In [9]:
my_set.remove(3)

In [10]:
print("Updated Set:", my_set)

Updated Set: {0, 1, 2, 4, 5}

#

### update()

In [11]:
my_set = {1, 2, 3}

In [12]:
other_set = {4, 5, 6}

In [13]:
my_set.update(other_set)

In [14]:
print("Updated Set:", my_set)

Updated Set: {1, 2, 3, 4, 5, 6}