# Dictionary

list = [ ]

tuple = ( )

set = { }

string = " "

key : value pair

dictionary: dict is a collection which holds data in pair (that pair will be in key and value)

if i want to connect one piece of info with other piece of info so we always we use dictionary

ex: rollno --> student name
    name --> mobile number

In [ ]:
#syntax of dictionary

dict={
    key1: value1,
    key2: value2,
    key3: value3,
    ...
    keyn: valuen
}

In [2]:
mydict = { }

In [3]:
mydict

{}

In [4]:
type(mydict)

dict

In [5]:
# dict of int key

mydict1 = {1: "sunny", 2: "rajat", 3: "satish"}

In [6]:
mydict1

{1: 'sunny', 2: 'rajat', 3: 'satish'}

In [7]:
mydict2 = {1: "sunny", "a": "shubham"}

In [8]:
mydict2

{1: 'sunny', 'a': 'shubham'}

In [11]:
mydict3 = {"rahul": ["c","c++"],
           "rohit": ["java","java script"],
           "gobinda": ["python","machine learning"]
          }

In [12]:
mydict3

{'rahul': ['c', 'c++'],
 'rohit': ['java', 'java script'],
 'gobinda': ['python', 'machine learning']}

In [13]:
mydict3["rahul"]

['c', 'c++']

In [14]:
mydict3["gobinda"]

['python', 'machine learning']

In [15]:
mydict3.get("gobinda")

['python', 'machine learning']

#
## function for the dict

1. len()
2. max()
3. min()
4. sorted()
5. any()
6. all()
7. dict()

In [43]:
sixMonths = {
    "Jan": 31,
    "Feb": 28,
    "Mar": 31,
    "Apr": 30,
    "May": 31,
    "Jun": 30
}

In [44]:
sixMonths

{'Jan': 31, 'Feb': 28, 'Mar': 31, 'Apr': 30, 'May': 31, 'Jun': 30}

In [45]:
sixMonths.keys()

dict_keys(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'])

In [46]:
sixMonths.values()

dict_values([31, 28, 31, 30, 31, 30])

In [47]:
sixMonths.items()

dict_items([('Jan', 31), ('Feb', 28), ('Mar', 31), ('Apr', 30), ('May', 31), ('Jun', 30)])

### 1. len()

In [48]:
sixMonths = {
    "Jan": 31,
    "Feb": 28,
    "Mar": 31,
    "Apr": 30,
    "May": 31,
    "Jun": 30
}

In [49]:
len(sixMonths)

6

### 2. max()

In [ ]:
sixMonths = {
    "Jan": 31,
    "Feb": 28,
    "Mar": 31,
    "Apr": 30,
    "May": 31,
    "Jun": 30
}

In [50]:
max(sixMonths)

'May'

a b c d e f g h i j k l m n o

m will be greater among all

lexiographic comaprison

a >b < c

In [61]:
max(sixMonths.values())

31

### 3. min()

In [ ]:
sixMonths = {
    "Jan": 31,
    "Feb": 28,
    "Mar": 31,
    "Apr": 30,
    "May": 31,
    "Jun": 30
}

In [53]:
min(sixMonths)

'Apr'

In [60]:
min(sixMonths.values())

28

### 4. sorted()

In [ ]:
sixMonths = {
    "Jan": 31,
    "Feb": 28,
    "Mar": 31,
    "Apr": 30,
    "May": 31,
    "Jun": 30
}

In [59]:
sorted(sixMonths)

['Apr', 'Feb', 'Jan', 'Jun', 'Mar', 'May']

In [58]:
sorted(sixMonths.values())

[28, 30, 30, 31, 31, 31]

### 5. any()

In [56]:
sixMonths = {
    "Jan": 31,
    "Feb": 28,
    "Mar": 31,
    "Apr": 30,
    "May": 31,
    "Jun": 30
}

In [57]:
any(sixMonths)

True

### 6. all()

In [54]:
sixMonths = {
    "Jan": 31,
    "Feb": 28,
    "Mar": 31,
    "Apr": 30,
    "May": 31,
    "Jun": 30
}

In [55]:
all(sixMonths)

True

#
## methods in dictionary:
1. get()
2. keys()
3. values()
4. items()
5. updated()
6. pop()
7. popitem()
8. clear()
9. copy()
10. setdefault()

#
### 1. get()

In [17]:
mydict3 = {"rahul": ["c","c++"],
           "rohit": ["java","java script"],
           "gobinda": ["python","machine learning"]
          }

In [18]:
mydict3.get("gobinda")

['python', 'machine learning']

### 2. keys()

In [19]:
student_data = {
    1: "amit",
    2: "brajesh",
    3: "chetan",
    4: "deepak",
    5: "neeraj"
}

In [20]:
student_data

{1: 'amit', 2: 'brajesh', 3: 'chetan', 4: 'deepak', 5: 'neeraj'}

In [21]:
for i in student_data:
    print("my key is:",i)

my key is: 1
my key is: 2
my key is: 3
my key is: 4
my key is: 5

In [22]:
for i in student_data.keys():
    print("my key is:",i)

my key is: 1
my key is: 2
my key is: 3
my key is: 4
my key is: 5

### 3. values()

In [23]:
student_data = {
    1: "amit",
    2: "brajesh",
    3: "chetan",
    4: "deepak",
    5: "neeraj"
}

In [24]:
for i in student_data.values():
    print("my values is:",i)

my values is: amit
my values is: brajesh
my values is: chetan
my values is: deepak
my values is: neeraj

### 4. items()

In [25]:
student_data = {
    1: "amit",
    2: "brajesh",
    3: "chetan",
    4: "deepak",
    5: "neeraj"
}

In [26]:
for x in student_data.items():
    print(x)

(1, 'amit')
(2, 'brajesh')
(3, 'chetan')
(4, 'deepak')
(5, 'neeraj')

In [29]:
for x, y in student_data.items():
    print(f"my key is: {x}, & my value is: {y}")

my key is: 1, & my value is: amit
my key is: 2, & my value is: brajesh
my key is: 3, & my value is: chetan
my key is: 4, & my value is: deepak
my key is: 5, & my value is: neeraj

### 5. updated()

if we want to update any new key value pair in dict we use subscript operator or update function.

In [30]:
student_data = {
    1: "amit",
    2: "brajesh",
    3: "chetan",
    4: "deepak",
    5: "neeraj"}

In [31]:
student_data[6] = "gobinda"

In [32]:
student_data

{1: 'amit', 2: 'brajesh', 3: 'chetan', 4: 'deepak', 5: 'neeraj', 6: 'gobinda'}

In [33]:
student_data.update({7: "zoha"})

In [34]:
student_data

{1: 'amit',
 2: 'brajesh',
 3: 'chetan',
 4: 'deepak',
 5: 'neeraj',
 6: 'gobinda',
 7: 'zoha'}

In [40]:
student_data = {
    1: 'amit',
    2: 'brajesh',
    3: 'chetan',
    4: 'deepak',
    5: 'neeraj',
    6: 'gobinda',
    7: 'zoha'
}

if key is not available then it will create new pair if it is avaialble it will be overwrite

In [41]:
student_data[2]="akash"  #overwrite

In [42]:
student_data

{1: 'amit',
 2: 'akash',
 3: 'chetan',
 4: 'deepak',
 5: 'neeraj',
 6: 'gobinda',
 7: 'zoha'}

### 6. pop()

In [62]:
sixMonths = {
    "Jan": 31, 
    "Feb": 28, 
    "Mar": 31, 
    "Apr": 30, 
    "May": 31, 
    "Jun": 30
}

In [63]:
sixMonths

{'Jan': 31, 'Feb': 28, 'Mar': 31, 'Apr': 30, 'May': 31, 'Jun': 30}

In [64]:
sixMonths.pop("Jan")

31

In [65]:
sixMonths

{'Feb': 28, 'Mar': 31, 'Apr': 30, 'May': 31, 'Jun': 30}

In [66]:
sixMonths.pop("nov")

KeyError: 'nov'

In [67]:
sixMonths.pop("nov","not found")

'not found'

In [68]:
sixMonths.pop("Feb","not found")

28

In [69]:
sixMonths

{'Mar': 31, 'Apr': 30, 'May': 31, 'Jun': 30}

In [70]:
sixMonths.pop("oct","not found")

'not found'

In [71]:
sixMonths

{'Mar': 31, 'Apr': 30, 'May': 31, 'Jun': 30}

### 7. popitem()

In [72]:
sixMonths = {
    "Jan": 31, 
    "Feb": 28, 
    "Mar": 31, 
    "Apr": 30, 
    "May": 31, 
    "Jun": 30
}

In [73]:
sixMonths

{'Jan': 31, 'Feb': 28, 'Mar': 31, 'Apr': 30, 'May': 31, 'Jun': 30}

In [74]:
sixMonths.popitem()

('Jun', 30)

In [75]:
sixMonths

{'Jan': 31, 'Feb': 28, 'Mar': 31, 'Apr': 30, 'May': 31}

In [76]:
sixMonths.popitem()

('May', 31)

In [77]:
sixMonths

{'Jan': 31, 'Feb': 28, 'Mar': 31, 'Apr': 30}

### 8. clear()

In [78]:
sixMonths = {
    "Jan": 31, 
    "Feb": 28, 
    "Mar": 31, 
    "Apr": 30, 
    "May": 31, 
    "Jun": 30
}

In [79]:
sixMonths.clear()

In [80]:
sixMonths

{}

### 9. copy()

In [81]:
orignal = {
    1: "one",
    2: "two",
    3: "three"
}

In [82]:
new=orignal.copy()

In [83]:
new

{1: 'one', 2: 'two', 3: 'three'}

###### what is a difference between deep copy and shallow copy?

Shallow Copy:

    Copies the top-level structure of an object.
    Inner objects are referenced, not duplicated.
    Changes in inner objects reflect in both the original and the shallow copy.

Deep Copy:

    Duplicates the entire structure of an object, including all nested objects.
    Inner objects are recursively copied, creating completely independent copies.
    Changes in inner objects don't reflect between the original and the deep copy.

In [5]:
import copy

# Original list with nested lists
original_list = [[1, 2, 3], [4, 5, 6]]

# Shallow copy
shallow_copy = copy.copy(original_list)

# Deep copy
deep_copy = copy.deepcopy(original_list)

# Modify original list
original_list[0][0] = 100


print("Original List:", original_list)
print("Shallow Copy:", shallow_copy)
print("Deep Copy:", deep_copy)

Original List: [[100, 2, 3], [4, 5, 6]]
Shallow Copy: [[100, 2, 3], [4, 5, 6]]
Deep Copy: [[1, 2, 3], [4, 5, 6]]

#

### 10. setdefault()

In [1]:
cars = {"Maruti":"Ciaz", "Hyundai":"Verna", "Honda":"Amaze"}

In [2]:
maruti_model = cars.setdefault("Maruti", "Baleno")
print("Maruti Model:", maruti_model)

Maruti Model: Ciaz

In [3]:
print("Updated Dictionary:", cars)

Updated Dictionary: {'Maruti': 'Ciaz', 'Hyundai': 'Verna', 'Honda': 'Amaze'}