In [ ]:
4. local and global variable in function
5. lambda function
6. map and filter function

In [1]:
s = "i love python"  #global variable

def f():
    print(s)

f()

i love python

In [2]:
def f():
    print(x)
    
x = "i love python"  #global variable

f()

i love python

In [3]:
def f():
    print(z)
    
f()
z = "i love python"

NameError: name 'z' is not defined

In [4]:
def test1():
    myname = "gobinda"  #local variable
    print(myname)
    
test1()
print(myname)

gobinda

NameError: name 'myname' is not defined

local variable: it is a variable which we are defining in the function and the scope will be in the function only.

global variable: global variable is a variable which we are defining outside of the function and the scope will be global

In [5]:
a = "i love python"

def fun1():
    a = "i love java"
    print(a)
    
fun1()
print(a)

i love java
i love python

In [6]:
def fun1():
    global a
    a = "i love java"
    print(a)
    
fun1()
print(a)

i love java
i love java

In [7]:
a = "i love python"

def fun1():
    global a
    a = "i love javascript"
    print(a)
    
fun1()
print(a)

i love javascript
i love javascript

In [8]:
a = "i love python"

def fun1():
    global b
    b = "i love javascript"
    print(a)
    
fun1()
print(a)
print(b)

i love python
i love python
i love javascript

In [9]:
a = "i love python"

def fun1():
    global b
    global c
    b = "i love javascript"
    c = "i love c"
    print(a)
    
fun1()
print(a)
print(b)
print(c)

i love python
i love python
i love javascript
i love c

In [10]:
s = "i am good in programming"

def code():
    print(s)
    s = "i love coding"
    print(s)
    
code()
print(s)

UnboundLocalError: cannot access local variable 's' where it is not associated with a value

In [11]:
s = "i am good in programming"

def code():
    global s
    print(s)
    s = "i love coding"
    print(s)
    
code()
print(s)

i am good in programming
i love coding
i love coding

In [12]:
a = "i am good in programming"

def code():
    print(a)
    s = "i love coding"
    print(s)
    
code()
print(s)

i am good in programming
i love coding
i love coding

In [ ]:
def homeWork(x, y
    global a
    a = 42
    x,y = y,x
    b = 33
    b = 17
    c = 100
    print(a,b,x,y

a, b, x, y = 1, 15, 3, 4
homeWork(17, 4)
print(a, b, x, y)

#

# lambda function

In [1]:
print((lambda a,b:a+b)(2, 3))

5

In [2]:
myfun = lambda a,b:a+b

In [3]:
myfun(2, 3)

5

In [4]:
type(myfun)

function

In [5]:
print(myfun)

<function <lambda> at 0x0000018A7AB9C040>

#

### Q: wap to take two value from user and find a squre of these values and use lambda function for this operation

In [7]:
a = int(input("Enter 1st number: "))
b = int(input("Enter 2nd number: "))

squares = lambda a, b: (a**2, b**2)

squares(a, b)

Enter 1st number: 10
Enter 2nd number: 20

(100, 400)

#

### Q: write a lambda function that returns the first character of the string passed to it as argument

In [10]:
a = input("write sumething: ")

str = lambda a: a[0]

str(a)

write sumething: fnrf

'f'

In [11]:
mystr = input("write sumething: ")

print((lambda str: str[0]) (mystr))

write sumething: gobinda
g

#

### Q: write a lambda function that returns true or false depending on wether the number passed to it as argument is even or odd

In [13]:
num  = int(input("Enter number: "))

isEven = lambda num: ((num % 2) == 0)

isEven(num)

Enter number: 7

False

In [15]:
num  = int(input("Enter number: "))

isEven = lambda num:"true" if num%2==0 else "false"

isEven(num)

Enter number: 65

'false'

#

### Q: write a lambda function that accept 2 arguments and returns the greater amongst them

In [16]:
num1  = int(input("Enter the 1st number: "))
num2  = int(input("Enter the 2nd number: "))

greaterNum = lambda num1, num2: num1 if num1>num2 else num2 

greaterNum(num1, num2)

Enter the 1st number: 12
Enter the 2nd number: 65

65

#

# map

map(funct, iterable)

iterable = string, list, set, tuple, dict, range

In [17]:
def squre(n):
    return n**2

mylist = [1, 2, 3, 4, 5]

for x in mylist:
    print(squre(x))

1
4
9
16
25

In [18]:
mylist = [1, 2, 3, 4, 5]


def squre(n):
    return n**2


list(map(squre, mylist))

[1, 4, 9, 16, 25]

In [16]:
mylist = [1, 2, 3, 4, 5]


squre = lambda a : (a**2)


list(map(squre, mylist))

[1, 4, 9, 16, 25]

In [18]:
mylist = [1, 2, 3, 4, 5]

list(map(lambda a : (a**2), mylist))

[1, 4, 9, 16, 25]

#

### Q: write a lambda expression that accept a string as argument and return it's first character. Use this lambda expression in map() function

In [19]:
mylist = ["january", "february", "march"]

list(map(lambda str : str[0], mylist))

['j', 'f', 'm']

In [21]:
mylist = ["january", "february", "march", "april", "may", "june", "july"]

list(map(lambda str : "EVEN" if len(str)%2==0 else "ODD", mylist))

['ODD', 'EVEN', 'ODD', 'ODD', 'ODD', 'EVEN', 'EVEN']

#

### Q: write a lambda expression  that accepts a character as argument and return true if it is a vowel otherwise False

In [22]:
mylist = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p']


list(map(lambda char : "VOWEL" if char in "aeiouAEIOU" else "FALSE", mylist))

['VOWEL',
 'FALSE',
 'FALSE',
 'FALSE',
 'VOWEL',
 'FALSE',
 'FALSE',
 'FALSE',
 'VOWEL',
 'FALSE',
 'FALSE',
 'FALSE',
 'FALSE',
 'FALSE',
 'VOWEL',
 'FALSE']

#

### Q: Ask the user to input his/her name and display only the vowels in the name. In case the name does not contain any vowel display the message no vowels in your name

In [36]:
vowels = list(filter(lambda ch: ch in "aeiouAEIOU" , myname))

myname = "gobinda"


if len(vowels) == 0:
    print("No vowels")
else:
     print(vowels)

['o', 'i', 'a']

#

### Q: write a function called inspect() that accepts a string as argument and returns the word EVEN if the string is of even length and returns it's first character if the string is of odd length

In [7]:
def inspect(str):
    if len(str) % 2 ==0:
        return "Even"
    
    return str[0];



mylist = ["january", "february", "march"]

list(map(inspect, mylist))

['j', 'Even', 'm']

#

## filter

filter(funct, iterable)

it is filter out the values

In [15]:
def isEven(num):
    return num % 2 ==0


mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list(filter(isEven, mylist))

[2, 4, 6, 8, 10]