# Functions in Python.

1. what is function?
2. how to write function in python?
3. argumnet vs parameter in function

A function is a set of statements that take inputs, do some specific computation and produces output. These functions are called user defined function

Syntax:

def funcname(parameter1,parameter2,...):
    function body

In [1]:
a = 10
b = 20
c = a + b
print(c)

30

In [2]:
a = 1000
b = 2009042
c = a + b
print(c)

2010042

In [3]:
a = 10
b = 20
c = a - b
print(c)

-10

In [5]:
a = input("enter first number: ")
b = input("enter second value: ")
c = int(a) + int(b)
print(c)

enter first number: 255
enter second value: 456
711

In [6]:
#this is funciton defination
def addtwonumber():
    a = 1000
    b = 2009042
    c = a + b
    print(c)

In [7]:
#this is funciton call
addtwonumber()

2010042

In [8]:
#this is funciton call
addtwonumber()

2010042

In [2]:
def addtwonumbers():
    a = input("enter first number: ")
    b = input("enter second value: ")
    c = int(a) + int(b)
    print(c)

In [3]:
addtwonumbers()

enter first number: 258
enter second value: 456
714

In [4]:
addtwonumbers()

enter first number: 753
enter second value: 951
1704

In [5]:
addtwonumbers()

enter first number: 12345
enter second value: 78965
91310

In [6]:
def multwonumber(x, y):
    a = x
    b = y
    c = a * b
    print(c)

In [7]:
multwonumber(4, 5)

20

In [8]:
multwonumber(40, 50)

2000

In [9]:
multwonumber(400, 500)

200000

In [11]:
A = int(input("enter first number: "))
B = int(input("enter second number: "))
multwonumber(A, B)

enter first number: 100
enter second number: 25
2500

In [12]:
A = int(input("enter first number: "))
B = int(input("enter second number: "))
multwonumber(A, B)

enter first number: 222
enter second number: 200
44400

#

### Q: Write a function called absolute( ) to accept an integer as argument and return itâ€™s absolute value. Finally call it to get the absolute value of -7 and 9

absolute means only +ve

absolute(5) = 5

absolute(-7) = 7

In [13]:
def absoulte(n):
    if n > 0:
        return n
    else:
        return -n

In [15]:
value = int(input("enter a number: "))
absoulte(-value)

enter a number: -9

9

In [16]:
abs(-23750983426030)

23750983426030

In [17]:
def addtwonumber():
    a = 1000
    b = 2009042
    c = a + b
    print(c)

In [18]:
myvariable = addtwonumber()

2010042

In [19]:
print(myvariable)

None

#

1. function defination
2. funcation calling
3. argument
4. parameter
5. fuction return concept
7. return multiple values

In [20]:
def fullname(a, b):
    c = a + b
    return c

In [21]:
myvariable = fullname("Gobinda", "Das")

In [22]:
print(myvariable)

GobindaDas

In [23]:
def addtwonumber():
    a = 1000
    b = 2009042
    c = a + b
    return a, b, c

In [24]:
a_value, b_value, addition_of_two_number = addtwonumber()

In [25]:
print(a_value, b_value, addition_of_two_number, sep=" ")

1000 2009042 2010042

#

### Q: call the factorial() function to calculate and return the factorial of the number given by the user.

In [26]:
def factorial(n):
    f = 1
    while n > 1:   #5>1, 4>1 3>1 2>1 1>1(false)
        f = f * n  #5*1=5 5*4=20 20*3=60 60*2=120
        n = n - 1  #4 3 2 1
    print(f)
    #return f

In [28]:
number = int(input("write any number: "))
mynum = factorial(number)
print(len(str(mynum)))

write any number: 20
2432902008176640000
4

In [29]:
#factorial of 5

5*4*3*2*1

120

In [30]:
#factorial of 10

10*9*8*7*6*5*4*3*2*1

3628800

In [ ]:
1. positional argument
2. default argument
3. keyword argument
4. variable length argument

### 1. positional argument

In [31]:
#positional arguments
def nos(a, b, c, d):
    return a*b*c*d

In [32]:
nos(10, 20, 30, 40)

240000

### 2. default argument

In [33]:
#keyword arguments
def nos(a, b, c, d):
    return a*b*c*d

In [34]:
mynums=nos(a=10, b=20, d=40, c=30)

In [35]:
print(mynums)

240000

### 3. keyword argument

In [36]:
#default arguments
def nos(a, b, d, c=0):
    return a*b*c*d

In [37]:
nos(1, 2, d=4)

0

### 4. variable length argument

In [38]:
#variable lenght argument
def nos(a, b, c, d):
    return a*b*c*d

In [39]:
def nos(a, b, c, d, e):
    return a*b*c*d*e

In [40]:
def nos(a, b, c, d, e, f):
    return a*b*c*d*e*f

In [41]:
nos(10, 20, 30, 40, 50)

TypeError: nos() missing 1 required positional argument: 'f'

python does not support function overloading

it will always take recent defination

In [42]:
def nos(*a):
    print(type(a))
    mul = 1
    for i in a:
        mul = mul * i
    return mul

In [43]:
nos(10, 20, 30, 40, 50, 60)

<class 'tuple'>

720000000

In [44]:
nos(10, 20, 30, 40, 50, 60, 24, 45, 5645, 76, 867, 8, 34, 3, 4676, 867, 986)

<class 'tuple'>

943438427361771957116928000000000

In [45]:
def attach(s1, s2):
    s3 = s1 + s2
    print("Joined String is:", s3)
	
attach("Good", "night")

Joined String is: Goodnight

In [46]:
def grocery(name, price):
    print("Item is", name,"It's price is", price)
	
grocery(price=150, name="Butter")

Item is Butter It's price is 150

In [47]:
def greet(name, msg="Good Morning"):
    print("Hello", name, msg)
	
greet("Sachin")

Hello Sachin Good Morning

In [48]:
def greet(name, msg="Good Morning"):
    print("Hello", name, msg)
	
greet("Sachin")

Hello Sachin Good Morning

In [49]:
greet("Amit", "How are you?")

Hello Amit How are you?

#

### Q: Write a function called cal_area( ) using default argument concept which accepts radius and pi as arguments and calculates and displays area of the Circle. The value of pi should be used as default argument and value of radius should be accepted from the user

In [50]:
def cal_area(radius, pi=3.14):
    return pi*(radius**2)

In [51]:
r=int(input("give the raduis of the circle: "))
cal_area(r)

give the raduis of the circle: 10

314.0

In [52]:
def addnos(a, b):
	c = a + b
	return c

def addnos(a, b, c):
	d = a + b + c
	return d

In [53]:
print(addnos(10, 20))

TypeError: addnos() missing 1 required positional argument: 'c'

In [54]:
print(addnos(10, 20, 30))

60

#

### Q: Write a function called find_largest( ) which accepts multiple strings as argument and returns the length of the largest string

In [55]:
def find_largest():
    aa=[]
    string = input('Enter string or names with space: ').split(" ")
    for i in string:
        aa.append(len(i))
    return max(aa)

In [56]:
find_largest()

Enter string or names with space: gobinda akash rahul poulami

7

In [71]:
def find_largest(*args):
    print(args)
    largest = ""
    for arg in args:
        if len(arg) > len(largest):
            largest = arg
    return len(largest)

In [72]:
find_largest("gobindadas", "poulami", "rohitdas")

('gobindadas', 'poulami', 'rohitdas')

10

In [58]:
def findlargest(*names):
	max = 0
	for s in names:
		if len(s) > max:
			max = len(s)
	return max

print(findlargest("January", "February", "March"))

8

In [59]:
find_largest("gobindadas", "poulami", "rohitdas")

('gobindadas', 'poulami', 'rohitdas')

10

In [ ]:
def find_largest(a, b, c):
      x = len(a)
      y = len(b)
      z = len(c)
      if x>y and x>z:
        return x
      elif y>x and y>z:
        return y
      else:
        return z

In [ ]:
find_largest("gobindadas", "poulami", "rohitdas")

In [60]:
def find_largest():
    a=input("Enter the firsst string = ")
    b=input("Enter the second string = ")
    c=input("Enter the third string = ")
    
    if (len(a) > len(b) and len(a) > len(c)):
        return a, len(a)
    elif (len(b) > len(c) and len(b) > len(a)):
        return b, len(b)
    else:
        return c, len(c)

In [61]:
find_largest()

Enter the firsst string = gobindadas
Enter the second string = poulami
Enter the third string = sutrishna

('gobindadas', 10)

In [62]:
def addnos(*a, *b):
    print(a)
    print(b)

SyntaxError: * argument may appear only once (2322429829.py, line 1)

In [63]:
def show(a, b, c=3, d=4):
    print(a,b,c,d)

show(10, 20)

10 20 3 4

In [64]:
def show(a, b, c=3, d=4):
    print(a, b, c, d)

show(10, 20, 30, 40)

10 20 30 40

In [65]:
def show(a, b, c=3, d=4):
    print(a, b, c, d)

show(d=10, a=20, b=30)

20 30 3 10

In [66]:
def show(a, b, c=3, d=4):
    print(a, b, c, d)

show()

TypeError: show() missing 2 required positional arguments: 'a' and 'b'

In [67]:
def show(a, b, c=3, d=4):
    print(a, b, c, d)

show(c=30, d=40, 10, 20)

SyntaxError: positional argument follows keyword argument (877906089.py, line 4)

In [68]:
def show(a, b, c=3, d=4):
    print(a, b, c, d)

show(30, 40, b=15)

TypeError: show() got multiple values for argument 'b'

In [69]:
def test(a):
    try:
        print(a/10)
    except:
        print("dont write string")

In [70]:
test("gobinda")

dont write string