# zip

In [6]:
lst1 = [1, 2, 3, 4, 5]
lst2 = ["a", 'b', 'c']

In [7]:
output = zip(lst1, lst2)

In [8]:
list(output)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [15]:
lst1 = ["Krish", "Sam", "John", 4]
lst2 = ["a", 'b', 'c']
lst3 = [1, 2, 3]

In [16]:
output = zip(lst1,lst2,lst3)

for i, j, k in output:
    print(i, j, k)

Krish a 1
Sam b 2
John c 3

In [17]:
list(zip())

[]

In [1]:
lst1 = [1, 2, 3, 4, 5]
lst2 = ["a", 'b', 'c']

In [2]:
for i in zip(lst1, lst2):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [9]:
for x, y in zip(lst1, lst2):
    print(x, y)

1 a
2 b
3 c

In [10]:
dict = {}

for x, y in zip(lst1, lst2):
    dict[x] = y

In [11]:
dict

{1: 'a', 2: 'b', 3: 'c'}

In [22]:
dict1 = {'name': 'Gobinda',
         'lst_name': 'Das',
         'age': 30}

dict2 = {'name': 'Poulami',
         'lst_name': 'Hudait',
         'age': 29}

In [26]:
dict1

{'name': 'Gobinda', 'lst_name': 'Das', 'age': 30}

In [27]:
dictionary = zip(dict1.items(), dict2.items())

In [28]:
for (i,j), (i2,j2) in dictionary:
    print(i, j)
    print(i2, j2)

name Gobinda
name Poulami
lst_name Das
lst_name Hudait
age 30
age 29

#

# reduce

In [1]:
import functools

In [2]:
mylist = [1, 4, 5, 6, 2]

In [3]:
functools.reduce(lambda a,b: a+b, mylist)

18

In [4]:
mylist = [1, 4, 5, 6, 2]

In [5]:
functools.reduce(lambda a,b: a if a>b else b, mylist)

6

#

# Generators

In [8]:
def demo(n):
    for i in range(n):
        print(i)

In [17]:
demo(10)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Generators

def gen(n):
    for i in n:
        yield i

In [14]:
def gen(n):
    for i in range(n):
        yield i

In [15]:
for i in gen(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
### Generator
def square(n):
    for i in range(n):
        yield i**2

In [12]:
for i in square(3):
    print(i)

0
1
4

In [13]:
a = square(3)
a

In [14]:
next(a)

0

#

# Iterators

iterable- list, tuple, string, set, dict

it a sequence of the value on top of that we can itrate

iterable can convert into a itrator

iterator-> it's a object on top of that we can perform iteration

In [18]:
mylist = [1, 2, 3, 4, 5]

In [19]:
iter(mylist)

In [20]:
for i in iter(mylist):
    print(i)

1
2
3
4
5

In [1]:
mylist = [1, 2, 3, 4, 5]

In [2]:
##iterator
iterable = iter(mylist)

In [3]:
type(iterable)

list_iterator

In [4]:
## We can iterate
for i in iterable:
    print(i)

1
2
3
4
5

In [5]:
try:
    print(next(iterable))
except StopIteration:
    print("The iterator is empty")

The iterator is empty

In [ ]:
Difference:
 1. To create iterator we use iter() and to generator we use function along with yield keyword
 2. Generator uses the yield keyword. It saves the local variable
 3. Generator in python helps us top write fast and compact code
 4. Python iterator is much more memory efficient